<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu de Navegação</title>
  <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
  <header>
    <h1>Bem-vindo à Loja de Materiais</h1>
  </header>

  <nav>
      <a href="/venda/venda.html">Gerenciar Vendas</a></li>
      <a href="/categoria/categoria.html">Gerenciar Categorias</a></li>
      <a href="/clientes/clientes.html">Gerenciar Clientes</a></li>
      <a href="/produto/produtos.html">Gerenciar Produtos</a></li>
      <a href="/funcionario/funcionario.html">Gerenciar Funcionários</a></li>
      <a href="/relatorio/relatorio.html">Gerenciar Lucros e Custos</a></li>
  </nav>

  <main> 

    <h2>Gestão de Loja de Materiais</h2>
    <p>Use o menu acima para navegar pelas diferentes seções do sistema.</p>
    
  </main> 
</body>
</html>
